<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>修改用户名</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="headtop"></div>
            <div class="contenttop">
                <div class="logo f_l">谈同个人博客 一个前端设计的热血青年</div>
                <div class="search f_r">
                    <form action="http://www.baidu.com" method="post" name="searchform" id="searchform">
                        <input name="keyboard" id="keyboard" class="input_text" placeholder="请输入关键字" type="text">
                        <input name="show" value="title" type="hidden">
                        <input name="tempid" value="1" type="hidden">
                        <input name="tbname" value="news" type="hidden">
                        <input name="Submit" class="input_submit" value="搜索" type="submit">
                    </form>
                </div>
                <div class="blank"></div>
                <nav>
                    <div class="navigation">
                        <ul class="menu">
                            <li><a href="/">网站首页</a></li>
                            <li><a href="/admin">个人管理</a></li>
                            <li><a href="/blog">发布博客</a></li>
                            <li><a href="/blog/showMyBlog/<%= usersession.userId %>">我的博客</a></li>
                            <li><a href="/login/exit">退出登录</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="jztop"></div>
        <div class="containers">
            <form action="/admin/adminDoUpdate" method="POST" enctype="multipart/form-data">
                <table class="table table-hover text-center" style="margin-top: 50px;">
                    <thead>
                        <tr>
                            <th class="text-center">头像</th>
                            <th class="text-center">用户名</th>
                            <th class="text-center">密码</th>
                            <th class="text-center">邮箱</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5"><input type="hidden" name="update_id" value="<%= result._id %>"></td>
                        </tr>
                        <tr>
                            <td><input type="file" name="updatefile" value="<%= result.head_img %>"></td>
                            <td><input type="text" name="updatename" value="<%= result.username %>"></td>
                            <td><input type="password" name="updatepwd" value="<%= result.password %>"></td>
                            <td><input type="email" name="updateemail" value="<%= result.email %>"></td>
                            <td><input type="submit" value="修改" style="padding: 0 6px;"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="jzend"></div>
        <footer>
            <div class="footer">
                <div class="f_l">
                    <p>All Rights Reserved 版权所有：<a>谈同个人博客</a> 备案号：陕ICP备17018883号</p>
                </div>
                <div class="f_r textr">
                    <p>157956315</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>